@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat&display=swap');

/* 
font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
*/

/* base style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.wraper {
  width: 1440px;
  padding: 0 4%;
  margin: 0 auto;
  position: relative;
}

/* header */
header {
  position: absolute;
  z-index: 9999;
  left: 0;
  right: 0;
  padding: 0 4%;
  padding-top: 3%;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navigation {
  text-align: right;
}

.contact-no {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contact-no span {
  font-weight: 600;
  margin-left: 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.nav ul {
  list-style: none;
  margin-top: 15px;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}

.nav ul li a {
  text-decoration: none;
  color: #0e0d0d;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
}

/* hero section */
.hero-section {
  background-image: url(./images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-content p {
  font-family: 'Bebas Neue', cursive;
  font-size: 23px;
  padding: .5rem 1rem;
  border: 2px dashed black;
  display: inline-block;
}

.hero-title {
  font-family: 'Alfa Slab One', cursive;
  font-size: 114px;
  color: #42200B;
  text-shadow: 3px 3px 3px rgb(232, 232, 232);
  letter-spacing: 3px;
  line-height: 75px;
  margin-top: 38px;
}

.hero-title span {
  font-size: 56px;
}

.price-tag {

  font-family: 'Bebas Neue', cursive;
  font-size: 36px;
  color: #fff;
  display: inline-block;
  background-color: #DF1C1C;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  text-align: center;
  padding-top: 30px;
  border: 3px dashed white;
}

.price {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  background-color: #DF1C1C;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 120px;
}

.price-tag span:first-child {
  font-size: 26px;
}

.price-tag span:last-child {
  letter-spacing: 5px;
  font-weight: normal;
}